@import '../../../common.styl'

.screenWrapper
  padding 28px
  position fixed
  top 0
  left 90px

.screen
  padding 24px
  width 400px
  max-width: 90%
  background white
  border 1px solid black
  border-radius 20px
  coolScrollbar()


.items
  display block
